@import "tailwindcss";
@tailwind utilities;
@config '../../tailwind.config.ts';

/* :root {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
} */
:root {
  --main-color: #443;
  --border-radius: 95% 4% 97% 5% / 4% 94% 3% 95%;
  --border-radius-hover: 4% 95% 6% 95% / 95% 4% 92% 5%;
  --border: .2rem solid var(--main-color);
  --border-hover: .2rem dashed var(--main-color);
}

/* Default (light mode) */
.rdrCalendarWrapper {
  background-color: #f9fafb; /* slate-50 */
  color: #1f2937; /* gray-800 */
  border-radius: 0.5rem;
}

.rdrDayToday .rdrDayNumber span {
  color: #3b82f6 !important; /* blue-500 */
}

/* Dark mode */
.dark .rdrCalendarWrapper {
  background-color: #1f2937; /* gray-800 */
  color: #f9fafb; /* slate-50 */
}

.dark .rdrDayToday .rdrDayNumber span {
  color: #60a5fa !important; /* blue-400 */
}

.dark .rdrDayNumber span {
  color: #d1d5db; /* gray-300 */
}

.dark .rdrDayPassive {
  opacity: 0.3;
}
